@{ ViewBag.Title = "Inicio"; }

<div ng-controller="InicioController">

    <div class="row">

        <div class="col-xs-20 col-sm-20 col-md-20 col-lg-20">

            <div class="jumbotron">
                <h1>Bootstrap Tutorial</h1>
                <p>
                    Bootstrap is the most popular HTML, CSS, and JS framework for developing responsive, mobile-first projects
                    on the web.
                </p>
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title upt--general-titulopanel">Acciones</h3>
                </div>
            </div>

        </div>
    </div>
</div>

@section scripts{
}