 @{ Layout = null; }

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ingresar - Sistema de Administración</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/bootstrap-theme.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>
<style>
    .upt--general-titulopanel {
        font-weight: bold;
    }

    .upt--ingresar-logo img {
        width: 140px;
        margin-bottom: 20px;
    }
</style>

<body>
    <div>
        <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
            <a class="navbar-brand" href="/">UPT BOT</a>
            <ul class="nav navbar-nav"></ul>
        </nav>
        <div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-24 col-sm-8 col-md-8 col-lg-offset-8 col-lg-8">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title upt--general-titulopanel">Iniciar Sesión</h3>
                            </div>
                            <div class="panel-body">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="control-label col-xs-8">Usuario</label>
                                        <div class="col-xs-16">
                                            <input type="text" class="form-control" id="" placeholder="Ingrese aquí su usuario....">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-xs-8">Contraseña</label>
                                        <div class="col-xs-16">
                                            <input type="password" class="form-control" id="" placeholder="Ingrese aquí su contraseña....">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div class="text-right">
                                    <button type="button" class="btn btn-primary btn-sm">Ingresar <i class="fa fa-check-circle-o" aria-hidden="true"></i></button>
                                    <button type="button" class="btn btn-default btn-sm">Cancelar <i class="fa fa-times-circle-o" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
</body>

</html>