body
{
    background-color: #eceff1;
    color: #626b7a;
    margin-top: 20px;
    font-family: 'Jura', sans-serif;
}
.upt-title-h1{
    font-size: 1.5em;
    font-weight: bold;
    font-stretch: expanded;
    text-transform: uppercase;
}
.upt-title-h4
{
    font-size: 1.2em;
    font-weight: lighter;
}
.upt-title{
    font-size: 1.5em;
    font-weight: bold;
    font-stretch: expanded;
    text-transform: uppercase;
}
.upt-right-border-list li{
    border-left: solid 3px #eceff1;
}
.upt-right-border-list li a{
    color: #eceff1 !important;
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 0;
}
.upt-right-border-list li a:hover{
    color: #626b7a !important;
}
.upt-panel-principal{
    border: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    background-color: #626b7a !important;
    color: #eceff1;
    min-height: 700px;
}
.upt-panel-contenido{
    border: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}

.upt-vinculo-rapido{
    border: none;
    border-radius: 0;
    background-color: rgba(207, 216, 220, 0.4);
    box-shadow: none;
    margin-bottom: 5px;
}
.upt-vinculo-rapido h1{
    font-size: 1.1em;
    font-weight: bold;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}
.upt-vinculo-rapido h1 a{
    color: #626b7a !important;
}
.upt-vinculo-rapido p{
    font-size: 0.9em;
    margin-bottom: 5px;
}
.upt-boton-tarea{
    color: #eceff1 !important;
    text-decoration: none;
}
.upt-boton-tarea div{
    background-color: #626b7a;
    color: #eceff1;
    padding: 5px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    height: 120px;
    margin-bottom: 20px;
}
.upt-boton-tarea div i{
    margin-bottom: 20px;
    font-size: 2em;
}
.upt-boton-tarea div p{
    font-size: 0.9em;
}