@{
    ViewBag.Title = "Inicio";
}

<div>
    <div class="col-sm-20">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    Sistema de Administración de Contenidos
                </div>
                <div class="panel-body">
                    <div class="jumbotron">
                        <div class="container">
                            <h1>SISTEMA DE ADMINISTRACIÓN DE CONTENIDOS UPTBOT</h1>
                            <p>Bienvenido al sistema de administración de contenidos del BOT de la Universidad Privada de Tacna.</p>
                            <p>
                                <a class="btn btn-primary btn-sm">Conocer más...</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    Acciones
                </div>
            </div>
            <div class="list-group">
                <a href="#" class="list-group-item active">Inicio</a>
                <a href="#" class="list-group-item">Ayuda</a>
                <a href="#" class="list-group-item">Acerca de...</a>
            </div>
        </div>
    </div>
</div>