
@{
    ViewBag.Title = "Principal";
}

<div class="row">
        <div class="col-sm-20">
            <div class="jumbotron">
                <h3>
                    <b>SISTEMA DE ADMINISTRACIÓN DE CONTENIDOS UPT BOT</b>
                </h3>
                <p>
                    <small>SISTEMA DE ADMINISTRACIÓN DE CONTENIDOS UPT BOT</small>
                </p>
                <p><a class="btn btn-primary" href="#" role="button">Conocer más</a></p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="list-group">
                <a href="/" class="list-group-item active">
                    Principal
                </a>
                <a href="#" class="list-group-item">Configuración</a>
                <a href="#" class="list-group-item">Acerca de...</a>
            </div>
        </div>
</div>