
@{
    ViewBag.Title = "Principal";
}

<div class="fd-portada animated fadeInLeft">
    <br>
    <h1>SISTEMA DE ADMINISTRACIÓN DE CONTENIDOS <br> <small>Sistema de administración para el bot de la escuela profesional de ingeniería de sistemas de la universidad privada de Tacna.</small></h1>
    <h2>Inicio</h2>

    <h2>Todas las tareas</h2>

</div>