
@{
    ViewBag.Title = "Configuración";
}

<div class="row">
    <div class="col-xs-24">
        <h4><b>CONFIGURACIÓN</b></h4>
        <div class="well">Opciones de configuración.</div>
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-xs-24">
        <h4>Configuración de acceso</h4>
        <hr />
    </div>
    <div class="col-xs-24 col-sm-8 col-md-8 col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                Roles
            </div>
            <div class="panel-body">
                Utilice esta función para gestionar los roles.
            </div>
            <div class="panel-footer">
                <a href="@Url.Action("Rol","Configuracion")" class="btn btn-sm btn-primary">Gestión de roles</a>
            </div>
        </div>
    </div>
    <div class="col-xs-24 col-sm-8 col-md-8 col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                Usuarios
            </div>
            <div class="panel-body">
                Utilice esta función para gestionar los usuarios.
            </div>
            <div class="panel-footer">
                <a href="@Url.Action("Usuario","Configuracion")" class="btn btn-sm btn-primary">Gestión de usuarios</a>
            </div>
        </div>
    </div>
    <div class="col-xs-24 col-sm-8 col-md-8 col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                Ventanas
            </div>
            <div class="panel-body">
                Utilice esta función para gestionar las ventanas.
            </div>
            <div class="panel-footer">
                <a href="@Url.Action("Objeto","Configuracion")" class="btn btn-sm btn-primary">Gestión de ventanas</a>
            </div>
        </div>
    </div>
</div>



