
@{
    ViewBag.Title = "Configuración";
}

<div class="row">
    <div class="col-xs-24 col-sm-8 col-md-8 col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                Seguridad <span class="badge">3</span>
            </div>
            <div class="list-group">
                <a href="@Url.Action("Rol","Configuracion")" class="list-group-item">Gestión de roles</a>
                <a href="#@Url.Action("Usuario","Configuracion")" class="list-group-item">Gestión de usaurios</a>
                <a href="@Url.Action("Objeto","Configuracion")" class="list-group-item">Gestión de objetos</a>
            </div>
        </div>
    </div>
</div>



