@{
    ViewBag.Title = "Gestión de Roles";
}
<div ng-controller="RolController" ng-init="Iniciar()">
    <div class="row">
        <div class="col-xs-24 col-sm-24 col-md-24 col-lg-24">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Rols
                    <span class="badge" ng-bind="ListaRol.length"></span>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover table-condensed table-bordered">
                        <thead>
                            <tr>
                                <th>Titulo</th>
                                <th class="col-xs-4">Fecha</th>
                                <th class="text-center col-xs-6"><button type="button" class="btn btn-xs btn-success" ng-click="CrearRol()"><span class="glyphicon glyphicon-plus-sign"></span></button></th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="Rol in ListaRol">
                            <tr>
                                <td ng-bind="Rol.DescripcionRol"></td>
                                <td ng-bind="Rol.Fecha | Fecha | date: 'yyyy-MM-dd HH:mm'"></td>
                                <td class="text-center">
                                    <button type="button" class="btn will--boton-accion btn-xs btn-warning amber" ng-click="ModificarRol(Rol)"><span class="glyphicon glyphicon-pencil"></span></button>
                                    <button type="button" class="btn will--boton-accion btn-xs btn-danger red"><span class="glyphicon glyphicon-remove-sign"></span></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="ModalRol">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Ingrese la información necesaria
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="control-label">Controlador:</label>
                                <input type="text" class="form-control" ng-model="Rol.DescripcionControlador">
                            </div>
                            <div class="form-group">
                                <label class="control-label">Acción:</label>
                                <input type="text" class="form-control" ng-model="Rol.DescripcionAccion">
                            </div>
                            <div class="form-group">
                                <label class="control-label">Habilitado:</label>
                                <div class="form-check">
                                    <input type="checkbox" ng-model="Rol.IndicadorHabilitado" ng-true-value="'S'" ng-false-value="'N'">
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="text-right">
                                <button type="button" class="btn btn-success btn-sm" ng-click="GuardarRol()">Guardar <span class="glyphicon glyphicon-ok-sign"></span></button>
                                <button type="button" class="btn btn-default btn-sm" ng-click="CancelarRol()">Cancelar <span class="glyphicon glyphicon-remove-sign"></span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Angular/Factories/Configuracion/RolFactory.js"></script>
    <script src="~/Angular/Controllers/Configuracion/RolController.js"></script>
}