
@{
    ViewBag.Title = "Gestion de la informacion de contacto";
}

<div class="row">
    <div class="col-xs-24">
        <h4><b>GESTION DE LA INFORMACION DE CONTACTO</b></h4>
        <div class="well">
            En esta ventana usted puede gestionar la informacion de contacto que sera mostrado en el asistente virtual.
        </div>
        <hr />
    </div>
</div>
