
@{
    ViewBag.Title = "Formatos";
}

<div ng-controller="FormatoController" ng-init="Iniciar()">
    <h3>Formatos</h3>
    <blockquote>Ingrese los datos necesarios</blockquote>
    <hr>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                Todos los registros <span class="badge" ng-bind="ListaFormato.length"></span>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-condensed">
                <tr>
                    <th>Título</th>
                    <th>Fecha</th>
                    <th>Estado</th>
                    <th><button class="btn btn-xs btn-success" ng-click="Crear()"><span class="glyphicon glyphicon-plus"></span></button></th>
                </tr>
                <tr ng-repeat="elemento in ListaFormato">
                    <td ng-bind="elemento.DescripcionTitulo"></td>
                    <td ng-bind="elemento.DescripcionTitulo"></td>
                    <td ng-bind="elemento.DescripcionTitulo"></td>
                    <th>
                        <button class="btn btn-xs btn-warning" ng-click="Modificar()"><span class="glyphicon glyphicon-pencil"></span></button>
                        <button class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
                    </th>
                <tr>
            </table>
        </div>
    </div>
    <div class="modal fade" id="modalFormato">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                Ingrese los datos necesarios
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="form">
                                <div class="form-group">
                                    <label class="control-label">Título:</label>
                                    <input class="form-control" type="text" ng-model="Modelo.Titulo">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Subtítulo:</label>
                                    <textarea class="form-control" type="text" ng-model="Modelo.Subtitulo" cols="2" rows="2"></textarea>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Resumen:</label>
                                    <textarea class="form-control" type="text" ng-model="Modelo.Resumen" cols="2" rows="2"></textarea>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Contenido:</label>
                                    <textarea class="form-control" type="text" ng-model="Modelo.Resena" cols="2" rows="2"></textarea>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Imágen:</label>
                                    <div class="input-group">
                                        <input class="form-control" type="text" ng-model="Modelo.Imagen">
                                        <span class="input-group-addon" ng-click="Imagen()"><span class="glyphicon glyphicon-link"></span></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Estado:</label>
                                    <input class="form-control-checkbox" type="checkbox">
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <button class="btn btn-sm btn-success" ng-click="Guardar()">Guardar <span class="glyphicon glyphicon-ok-circle"></span></button>
                            <button class="btn btn-sm btn-default" ng-click="Cancelar()">Cancelar <span class="glyphicon glyphicon-remove-circle"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalImagen">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                Imagen
                            </div>
                        </div>
                        <div class="panel-body">
                            <div>
                                <img src="" alt="Imagen" class="img-responsive img-thumbnail">
                            </div>
                        </div>
                        <div class="panel-footer">
                            <button class="btn btn-sm btn-default" data-dismiss="modal">Cerrar <span class="glyphicon glyphicon-remove-circle"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        (function (module) {

            FormatoFactory.$inject = [
                'BaseFactory'
            ];

            function FormatoFactory(BaseFactory) {

                var formato = [];

                formato.ObtenerFormato = function () {
                    return BaseFactory.Obtener('/Gestion/ObtenerFormato');
                };

                formato.GuardarFormato = function (modelo) {
                    return BaseFactory.Guardar('/Gestion/GuardarFormato', modelo);
                };

                formato.EliminarFormato = function (modelo) {
                    return BaseFactory.Eliminar('/Gestion/EliminarFormato', modelo);
                };

                return formato;
            }

            module.factory('FormatoFactory', FormatoFactory);

        })(angular.module("uptbot"));
    </script>
    <script>
        (function (module) {

            FormatoController.$inject = [
                '$scope',
                'toastr',
                'FormatoFactory'
            ];

            function FormatoController($scope, toastr, FormatoFactory) {

                $scope.ListaFormato = [];

                $scope.Modelo = {
                    Imagen: ''
                };

                $scope.Iniciar = function () {
                    $scope.ObtenerFormato();
                };

                $scope.ObtenerFormato = function () {
                    FormatoFactory.ObtenerFormato().then(function (response) {
                        if (response.Estado)
                            $scope.ListaFormato = response.Datos;
                        else
                            toastr.error(response.Mensaje, Mensaje.Error.Titulo);

                    }).catch(function (error) {
                        toastr.error(MensajeRespuesta.Error, Mensaje.Error.Titulo);
                    });
                };

                $scope.Crear = function () {
                    Bootstrap.AbrirModal('#modalFormato');
                };

                $scope.Modificar = function () {
                    Bootstrap.AbrirModal('#modalFormato');
                };

                $scope.Cancelar = function () {
                    Bootstrap.CerrarModal('#modalFormato');
                };

                $scope.Guardar = function () {

                    //modelo
                    Bootstrap.CerrarModal('#modalFormato');
                };

                $scope.Imagen = function () {
                    Bootstrap.AbrirModal('#modalImagen');
                };

            }

            module.controller('FormatoController', FormatoController);

        })(angular.module('uptbot'));
    </script>
}