@{ ViewBag.Title = "Gestión de contenido"; }

<div>

    <div class="row">

        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Información básica</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>

        </div>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Documentos adjuntos</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>

        </div>

        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Enlaces externos</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>

        </div>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Publicaciones</h3>
                </div>
                <div class="panel-body">
                    Utilice esta función para gestionar publicaciones que pueden ser vistas como mensajes para sus usuarios.
                </div>
                <div class="list-group">
                    <a href="@Url.Action("Noticia","Gestion")" class="list-group-item">Gestionar noticias</a>
                    <a href="@Url.Action("Actualidad","Gestion")" class="list-group-item">Gestionar actualidades</a>
                </div>
                <div class="panel-footer">
                    <button type="button" class="btn btn-info btn-sm">Ayuda</button>
                </div>
            </div>
 </div>


            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Alertas</h3>
                    </div>
                    <div class="panel-body">
                        Utilice esta función para gestionar alertas que pueden ser vistas como mensajes para sus usuarios.
                    </div>
                    <div class="list-group">
                        <a href="#" class="list-group-item">Gestionar alertas</a>
                    </div>
                    <div class="panel-footer">
                        <button type="button" class="btn btn-info btn-sm">Ayuda</button>
                    </div>
                </div>


            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h3 class="panel-title">Extras!</h3>
                    </div>
                    <div class="panel-body">
                        Panel content
                    </div>
                   
                </div>
            </div>
        </div>

    </div>