@{ ViewBag.Title = "Gestión de contenido"; }

<div ng-controller="NoticiaController" ng-init="Iniciar()">
    <div class="row">
        <div class="col-xs-24">
            <h4><b>GESTIONAR NOTICIAS</b></h4>
            <div class="well">Ingrese las noticias que serán vistas desde el asistente virtual.</div>
            <hr />
        </div>
    </div>
    <div class="row">

        <div class="col-xs-24 col-sm-18 col-md-18 col-lg-18">
            <div class="panel panel-default will--panel will--sombra">
                <div class="panel-heading">
                    <h3 class="panel-title will--titulo-panel blue-text">
                        Todos los registros
                        <span class="badge" ng-bind="ListaNoticia.length">2</span>
                    </h3>
                </div>

                    <div class="table-responsive">
                        <table class="table table-hover table-condensed table-bordered">
                            <thead>
                                <tr>
                                    <th>Titulo</th>
                                    <th class="col-xs-4">Fecha</th>
                                    <th class="text-center col-xs-6"><button type="button" class="btn will--boton-accion btn-xs btn-success green" ng-click="AbrirModalNoticiaAgregar()">Agregar <span class="glyphicon glyphicon-plus"></span></button></th>
                                </tr>
                            </thead>
                            <tbody ng-repeat="Noticia in ListaNoticia">
                                <tr>
                                    <td ng-bind="Noticia.DescripcionTitulo"></td>
                                    <td ng-bind="Noticia.FechaRegistro | Fecha | date: 'yyyy-MM-dd HH:mm'"></td>
                                    <td class="text-center">
                                        <button type="button" class="btn will--boton-accion btn-xs btn-warning" ng-click="AbrirModalNoticiaModificar(Noticia)">Modificar <span class="glyphicon glyphicon-pencil"></span></button>
                                        <button type="button" class="btn will--boton-accion btn-xs btn-danger" ng-click="EliminarNoticia(Noticia)">Eliminar <span class="glyphicon glyphicon-trash"></span></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    
                </div>

            </div>

        </div>
        <div class="col-xs-24 col-sm-6 col-md-6 col-lg-6">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">¿Cómo funciona?</h3>
                </div>
                <div class="panel-body">
                    Ingrese las noticias que serán vistas desde el asistente virtual.
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ModalNoticia">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-body">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Ingrese la información necesaria</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-xs-4">Título:</label>
                                    <div class="col-xs-20">
                                        <input type="text" class="form-control" ng-model="Noticia.DescripcionTitulo">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-xs-4">Resumen:</label>
                                    <div class="col-xs-20">
                                        <textarea rows="3" cols="3" class="form-control" ng-model="Noticia.DescripcionResumen"></textarea>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-xs-4">Imagen:</label>
                                    <div class="col-xs-20">
                                        <input type="text" class="form-control" ng-model="Noticia.DescripcionImagen">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-xs-4">Url:</label>
                                    <div class="col-xs-20">
                                        <input type="text" class="form-control" ng-model="Noticia.DescripcionUrl">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="text-right">
                                <button type="button" class="btn btn-success btn-sm" ng-click="GuardarNoticia()">Guardar <span class="glyphicon glyphicon-ok-sign"></span></button>
                                <button type="button" class="btn btn-default btn-sm" ng-click="CerrarModalNoticia()">Cancelar <span class="glyphicon glyphicon-remove-sign"></span></button>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>
@section scripts{
    <script src="~/Angular/Factories/Gestion/NoticiaFactory.js"></script>
    <script src="~/Angular/Controllers/Gestion/NoticiaController.js"></script>
}